h1,h2,h3,p,ul,ol{
    color:rgb(255, 255, 255);

}

h1, h2{
    text-align: center;
    margin-top: 20px;
    font-size: 55px;
    margin-bottom: 20px;
}

li{
    color:white;
}

body{
    background-color: rgb(18, 44, 129);
}

/*--------------Index-----------------*/

nav {

    margin-bottom: 20px;

}

.carousel {

    margin-bottom: 20px;

}

.carousel img {

    border-radius: 10px;
    width: 100%;

}

.imagen-agua {

    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;

}

footer {

    padding: 20px;

}

footer  p {

    text-align: center;
    margin-bottom: 0px;

}